@import '/src/styles/variables';
@import'/src/styles/mixin';


@mixin text {
  width: 266px;
  font-size: $s;
  font-weight: 500;
  line-height: normal;

  @media screen and (min-width: $tablet-width) {
    width: $tablet-width;
    font-size: $md;
    font-weight: 400;
    line-height: 1.3;
  }

  @media screen and (min-width: $desktop-width) {
    width: 825px;
    font-size: $lg;
    font-weight: 500;
    line-height: normal;
  }
}

.hidden {
  display: none
}

.corruption-case__item {
  display: flex;
  position: relative;
  max-width: 100%;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  @media screen and (min-width: $tablet-width) {
      max-width: $tablet-width;
  }

  @media screen and (min-width: $desktop-width) {
  max-width: $desktop-width;
}
  
  &--cause {
    position: absolute;
    inset: 0px;
    background-color: $white;
    pointer-events: none;
  }

   &--consequences {
    display: flex;
    flex-direction: column;
    min-height: 246px;
    background-color: $white;
    pointer-events: none;
  
    @media screen and (min-width: $tablet-width) {
      min-height: 414px;
      max-width: 100%;
    }
    
    @media screen and (min-width: $desktop-width) {
          min-width: 840px;
    }
  }

}

.item--cause{

  &__text-box {
    height: 63px;
    @include flex(flex-end, start, row);

    @media screen and (min-width: $tablet-width) {
      height: 80px;
    }

    @media screen and (min-width: $desktop-width) {
      height: 86px;
    }
}

  &__text {
    @include text;
}

}

.item--consequences{
  display: flex;
  flex-direction: column;
        
  @media screen and (min-width:$tablet-width) {
    max-width: $tablet-width;
        }
      
  @media screen and (min-width: $desktop-width) {
    min-width: 840px;
        }
       
  &__text-box {
    height: 63px;
    @include flex(flex-end, end, row);

    @media screen and (min-width: $tablet-width) {
      height: 80px;
    }

    @media screen and (min-width: $desktop-width) {
      height: 86px;
    }
}

  &__text {
    @include text;
    @include flex(end, end, row);
    text-align: end;
  }
}

.corruption-case{
  
  &__image {
  display: flex;
  max-width: 100%;

  height: auto;
  margin-top: 8px;
  pointer-events: none;

  @media screen and (min-width: $tablet-width) {
    margin-top: 15px;
    min-width:100%;

  }

  @media screen and (min-width: $desktop-width) {
    margin-top: 20px;
    max-width: 840px;
  }
}

  &__slider {
    position: absolute;
    top: 0;
    bottom: 0;
  }
}



.slider{
  
  &__container {
  position: relative;
  height: 100%;
}

  &__line {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 6px;
    margin-left: -3px;
    background-color: rgba(255, 255, 255, 0.8);
  
    @media screen and (min-width: $tablet-width) {
      width: 9px;
      margin-left: -4.5px;
  
    }
  }

  &__circle {
    position: absolute;
    bottom: 34%;
    height: $md;

    display: flex;
    justify-content: center;
    align-items: center;

    width: $md;
    margin-left: -12px;
    border-radius: 50px;
    background-color: #d9d9d9;

    @media screen and (min-width: $tablet-width) {
      bottom: 40%;

    }

    @media screen and (min-width: $desktop-width) {
      height: 40px;
      width: 40px;
      margin-left: -20px;
    }
  }

  &__icon {
    height: 12px;
    width: 12px;
    pointer-events: none;

    @media screen and (min-width: $tablet-width) {
      height: 14px;
      width: 14px;
    }

    @media screen and (min-width: $desktop-width) {
      height: 24px;
      width: 24px;
    }
  }
}





