@mixin flex($align, $justify, $direction) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}
@mixin grid($columns, $gap) {
  display: grid;
  grid-template-columns: $columns;
  grid-gap: $gap;
}

@mixin button($padding) {
  @include flex(center, center, row);
  background-color: $primary-color;
  color: $white;
  padding: $padding;
  border-radius: 5px;
  transition: 0.3s;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: #142d45;
    box-shadow: 0px 10px 10px 0px rgba(49, 113, 172, 0.25);
  }
}
