$primary-color: #3171AC;
$secondary-color: #1D4467;
$tertiary: #275A8A;
$button: #5A8DBD;
$button-hover-color: #142D45;
$text: #343738;
$main: #C4D8E8;
$white: #FFFFFF;
$grey: #F0F0F0;
$middle-grey: #CCCFD1;
$dark-grey: #9C9C9C;

$desktop-columns: 12;
$tablet-columns: 8;
$mobile-columns: 4;

$font-primary: 'Caveat', cursive;
$font-secondary: 'Exo', sans-serif;
$head-b-fw: bold;
$body-fw: medium;
$s: 16px;
$sm: 20px;
$md: 24px;
$lg: 32px;
$xl: 80px;
$xl-1: 140px;
$xl-2: 12px;
$xl-4: 150px;

$max-width-desktop: 1440px;
$max-width-tablet: 744px;
$max-width-mobile: 390px;
$desktop-width: 1140px;
$desktop-columns: 12;
$tablet-width: 680px;
$tablet-columns: 8;
$mobile-g-width: 776px;
$mobile-g-columns: 4;
$mobile-width: 366px;
$mobile-columns: 4;

