@import "_variables.scss";
@import "_reset.scss";
@import "_mixin.scss";
@import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap");

body {
  font-family: $font-secondary;
  background-color: $white;
  color: $text;
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
}

.grid-container {
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-gap: $sm;

  @media (min-width: $mobile-width) {
    max-width: $max-width-mobile;
    grid-template-columns: repeat($mobile-columns, 1fr);
    grid-gap: $xl-2;
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    max-width: $max-width-tablet;
    grid-template-columns: repeat($tablet-columns, 1fr);
    grid-gap: $lg;
    margin: 0 auto;
  }


  @media (min-width: $desktop-width) {
    max-width: $max-width-desktop;
    grid-template-columns: repeat($desktop-columns, 1fr);
    margin: 0 auto;
  }
}