@import '../../styles/variables';
@import '../../styles/mixin';
@import '../../styles//styles.scss';



.corruption-case{
  margin: 104px auto 0;
    width: 100%;
  
    @media (min-width: $mobile-width) {
      max-width: $max-width-mobile;
    }
  
    @media (min-width: $tablet-width) {
      max-width: $max-width-tablet;
    }
  
    @media (min-width: $desktop-width) {
      margin-top: 80px;
      max-width: $max-width-desktop;

    }
    @media (min-width:1920px) {
      max-width: $max-width-desktop;
    }
  
    &__container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
      padding: 0 $s;
    
   @media screen and (min-width: $tablet-width) {
      padding: 0 $lg;
}

    @media screen and (min-width: $desktop-width) {
      max-width: $desktop-width;
      padding: 0 150px;    
    }
    @media screen and (min-width:1920px){
      max-width: $max-width-desktop;
    }
  }
    

    &__title {
      font-family: Caveat;
      font-size: 40px;
      font-weight: 400;
      text-align: center;
      color: #000;
      line-height: normal;
    
      @media screen and (min-width: $max-width-tablet) {
        font-size: 72px;
        text-align: left;
      }
    
      @media screen and (min-width: 844px) and (orientation:landscape) {
        font-size: 72px;
        text-align: center;
      }
    
      @media screen and (min-width: $max-width-desktop) {
        font-size: 80px;
        text-align: center;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      row-gap:$lg;
      margin-top: $lg;
    
      @media screen and (min-width: $tablet-width) {
        margin-top: 64px;
        max-width:$tablet-width;
        row-gap:64px;
      }
    
      @media screen and (min-width: 844px) and (orientation:landscape) {
        margin-top: $lg;
        row-gap:$lg
      }
    
      @media screen and (min-width: $desktop-width) {
        margin-top: $xl;
        max-width: $desktop-width;
        row-gap:$xl;
      }
    }
}


